html {
  background: url(./../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 49.22vh;
  max-height: 100%;
  margin: 0 auto;
  padding: 5vh 0px;
}

.env-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.env-background {
  background: url(./../img/envelope-background.png) no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: calc(100vh - 10vh);
  z-index: 0;
}

.env-card {
  background: url(./../img/card-background.png) no-repeat;
  background-size: auto 100%;
  height: calc(100vh - 10vh);
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 100;
}

.env-body {
  background: url(./../img/envelope.png) no-repeat;
  background-size: auto 100%;
  height: calc(100vh - 10vh);
  width: 100%;
  top: 0px;
  left: -1px;
  position: absolute;
  z-index: 100;
}
.env-cover {
  background: url(./../img/cover-out.png) center right no-repeat;
  background-size: auto 100%;
  height: calc(100vh - 10vh);
  width: 100%;
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 100;

  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
