@font-face {
  font-family: BayShore;
  src: url('./../fonts/Bayshore.otf') format('opentype');
}

@font-face {
  font-family: DINPro;
  src: url('./../fonts/DINPro-Medium\ copy\ 2.otf') format('opentype');
}

@font-face {
  font-family: DINPro;
  font-weight: bold;
  src: url('./../fonts/DINPro-Bold\ copy\ 2.otf') format('opentype');
}

@font-face {
  font-family: LeagueGothic;
  src: url('./../fonts/LeagueGothic-Regular.otf') format('opentype');
}

//Variables
$paddingY: 10vh;
$rate: 0.5922;
$cardScaleX: 0.98;
$cardScaleY: 0.92;

html {
  background: url(./../images/background.jpg) center center;
  background-size: auto;
}

.env-container {
  max-width: $rate * 100vh - $paddingY;
  min-width: $rate * 100vh - $paddingY;
  max-height: 100%;
  margin: 0 auto;
  padding: $paddingY/2 0;
}

.env-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.env-background {
  position: relative;
  background: url(./../images/envelope-background.jpg) no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 100vh - $paddingY;
  z-index: 100;
}

.env-card {
  display: flex;
  align-items: center;
  background: url(./../images/card-background.svg) no-repeat;
  background-size: 100% 100%;
  height: (100vh - $paddingY) * $cardScaleY;
  width: $cardScaleX * 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;

  & .env-card-back {
    display: none;
  }

  & .env-card-front {
    display: block;
  }

  &.turned {
    & .env-card-back {
      display: block;
    }

    & .env-card-front {
      display: none;
    }
  }
}

.env-card#modal-card {
  max-width: $rate * 100vh - $paddingY;
}

.env-body {
  background: url(./../images/envelope.png) no-repeat;
  background-size: 100% 100%;
  height: 100vh - $paddingY;
  width: 100%;
  top: 0;
  left: -1px;
  position: absolute;
  z-index: 2000;

  &.showed-card {
    z-index: 500;
  }
}

.env-cover {
  background: url(./../images/cover-out.svg) center right no-repeat;
  background-size: auto 100%;
  height: 100vh - $paddingY;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 3000;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &.opened {
    background: url(./../images/cover-in.svg) center right no-repeat;
    background-size: auto 100%;
    z-index: 500;
  }
}

.env-card-seal {
  // overflow: hidden;
  z-index: 100000;
  position: absolute;
  height: 20vh;
  width: 20vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  & .peel-top {
    background: url(./../images/seal-no-word.svg) center center no-repeat;
    background-size: 100% 100%;
    border: none;

    & .peel-top-shadow {
      background-image: none !important;
    }
  }

  & .peel-back {
    background-color: transparent;
    background: url(./../images/seal-no-word.svg) center center no-repeat;
    background-size: 100% 100%;
    border: none;

    & .peel-back-shadow {
      background-image: none !important;
    }
  }

  & .peel-bottom {
    opacity: 0;
  }
}

.peel-layer {
  box-shadow: none !important;
}

.env-card-front {
  padding: 0 (100vh - $paddingY) * 0.05;
}

.env-card-front-text {
  text-align: center;
  font-family: LeagueGothic, sans-serif;
  font-size: (100vh - $paddingY) * 0.17;
  line-height: 1.2;
  margin-block-start: (100vh - $paddingY) * 0.05;
  margin-block-end: (100vh - $paddingY) * 0.05;
  letter-spacing: -(100vh - $paddingY) * 0.0065;
  font-weight: normal;

  & > span {
    display: block;

    // Holiday style
    &:nth-child(1) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      span:nth-child(1) {
        //H
        color: #e282a0;
        letter-spacing: -(100vh - $paddingY) * 0.025;
      }

      span:nth-child(2) {
        //O
        color: #424081;
      }

      span:nth-child(3) {
        //L
        color: #e72e31;
        letter-spacing: -(100vh - $paddingY) * 0.005;
      }

      span:nth-child(4) {
        //I
        color: #decc49;
        letter-spacing: -(100vh - $paddingY) * 0.008;
      }

      span:nth-child(5) {
        //D
        color: #83b639;
        letter-spacing: -(100vh - $paddingY) * 0.038;
      }

      span:nth-child(6) {
        //A
        color: #525397;
        letter-spacing: -(100vh - $paddingY) * 0.02;
      }

      span:nth-child(7) {
        //Y
        color: #ed594f;
        letter-spacing: -(100vh - $paddingY) * 0.018;
      }
    }

    // Cheer style
    &:nth-child(2) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      & > span:nth-child(1) {
        //C
        color: #189e92;
        letter-spacing: -(100vh - $paddingY) * 0.03;
      }

      & > span:nth-child(2) {
        //H
        color: #e37047;
        letter-spacing: -(100vh - $paddingY) * 0.019;
      }

      & > span:nth-child(3) {
        //E
        color: #e82f31;
        letter-spacing: -(100vh - $paddingY) * 0.016;
      }

      & > span:nth-child(4) {
        //E
        color: #ee89a9;
        letter-spacing: -(100vh - $paddingY) * 0.03;
      }

      & > span:nth-child(5) {
        //R
        color: #98c05b;
      }
    }

    // For the style
    &:nth-child(3) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      & > span:nth-child(1) {
        //F
        color: #e3544b;
        letter-spacing: -(100vh - $paddingY) * 0.019;
      }

      & > span:nth-child(2) {
        //O
        color: #ca3131;
        letter-spacing: -(100vh - $paddingY) * 0.025;
      }

      & > span:nth-child(3) {
        //R
        color: #2f7a55;
        letter-spacing: -(100vh - $paddingY) * 0.01;
      }

      & > span:nth-child(5) {
        //T
        color: #decc49;
        letter-spacing: -(100vh - $paddingY) * 0.027;
      }

      & > span:nth-child(6) {
        //H
        color: #525397;
        letter-spacing: -(100vh - $paddingY) * 0.013;
      }

      & > span:nth-child(7) {
        //E
        color: #cf3232;
      }
    }

    // New Year style
    &:nth-child(4) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      & > span:nth-child(1) {
        //N
        color: #3e386a;
        letter-spacing: -(100vh - $paddingY) * 0.008;
      }

      & > span:nth-child(2) {
        //E
        color: #e6564d;
        letter-spacing: -(100vh - $paddingY) * 0.024;
      }

      & > span:nth-child(3) {
        //W
        color: #ec88a8;
        letter-spacing: -(100vh - $paddingY) * 0.01;
      }

      & > span:nth-child(4) {
        letter-spacing: -(100vh - $paddingY) * 0.03;
      }

      & > span:nth-child(5) {
        //Y
        color: #30ab9f;
        letter-spacing: -(100vh - $paddingY) * 0.027;
      }

      & > span:nth-child(6) {
        //E
        color: #e82f31;
        letter-spacing: -(100vh - $paddingY) * 0.017;
      }

      & > span:nth-child(7) {
        //A
        color: #ddcc49;
        letter-spacing: -(100vh - $paddingY) * 0.02;
      }

      & > span:nth-child(8) {
        color: #368452;
      }
    }
  }
}

.env-card-front-character {
  display: inline-block;
  position: relative;
}

.env-card-front-character-background {
  position: absolute;
  margin: auto;
  width: (100vh - $paddingY) * 0.1;
  height: (100vh - $paddingY) * 0.1;
  top: -5%;
  bottom: 0;
  left: -25%;
  right: 0;
  opacity: 0;
  content: '';
}

.env-card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);

  line-height: 1.2;
  font-family: DINPro;
  padding: 3vh 3.3vh;

  & strong {
    font-family: DINPro;
    font-weight: bold;
  }
}

.env-card-back-logo {
  background: url(./../images/back-logo.svg);
  width: 5vh;
  height: 5vh;
  background-size: 100% 100%;
  margin-top: 2vh;
}

.env-card-back-footer {
  background: url(./../images/back-footer.svg) center center no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 18vh;
}

.env-card-back-name-text {
  font-size: 5vh;
  color: red;
  line-height: 1;
  padding: 0;
  text-transform: uppercase;
  font-family: LeagueGothic, sans-serif;
}

.env-card-back-content-sign {
  font-family: BayShore, sans-serif;
  font-size: 4vh;
  margin: 0;
}

.env-card-back-content {
  font-size: 2.5vh;
}

.env-card-back-content > p:first-child {
  margin-top: 1vh;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  &.opened {
    display: block;
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

// Snow Animation

.drop {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 100%;
  background: url(./../images/snow.svg) center center no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 2px #fffafa;
}

.animate {
  animation: falling 8s infinite ease-in;
  perspective: 0;

  &.drop--near {
    animation: falling 8s infinite ease-in;
  }

  &.drop--mid {
    animation: falling 12s infinite ease-in;
    // box-shadow: 0 0 2px #fffafa;
    opacity: 0.6;
    perspective: 100cm;
  }
  &.drop--far {
    animation: falling 16s infinite ease-in;
    // box-shadow: 0 0 10px #fffafa;
    opacity: 0.3;
    perspective: 200cm;
  }
}

// Lamp Animation
@keyframes falling {
  0% {
    top: -10px;
  }
  10% {
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}
.line {
  text-align: center;
}
.light ul {
  display: block;
  white-space: nowrap;
}
li {
  position: relative;
  margin: 0 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  top: 35px;
  background: #fff;
}
li:before {
  content: '';
  position: absolute;
  background: #222;
  width: 10px;
  height: 9px;
  border-radius: 3px;
  top: -4px;
  left: 1px;
}
li:after {
  content: '';
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 19px;
  border-bottom: solid #222 2px;
  border-radius: 30%;
}

.red {
  background-color: #fb4545;
  animation: lightningRed 1s infinite;
}

.green {
  background-color: #24d024;
  animation: lightningGreen 0.8s infinite;
}

.yellow {
  background-color: #fff952;
  animation: lightningYellow 0.9s infinite;
}

.blue {
  background-color: #0a53de;
  animation: lightningBlue 1.1s infinite;
}

.pink {
  background-color: #f53896;
  animation: lightningPink 1.2s infinite;
}

@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
}
@keyframes lightningGreen {
  0% {
    box-shadow: 5px 0 35px 10px #24d024;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #24d024;
  }
}
@keyframes lightningYellow {
  0% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
}
@keyframes lightningBlue {
  0% {
    box-shadow: 5px 0 35px 10px #0a53de;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #0a53de;
  }
}
@keyframes lightningPink {
  0% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
}
@media (max-width: 1024px) {
  .line {
    padding: 0;
  }

  li {
    margin: 0 15px 20px 15px;
  }
}
