@font-face {
  font-family: BayShore;
  src: url('./../fonts/Bayshore.otf') format('opentype');
}

@font-face {
  font-family: DINPro;
  src: url('./../fonts/DINPro-Medium\ copy\ 2.otf') format('opentype');
}

@font-face {
  font-family: DINPro;
  font-weight: bold;
  src: url('./../fonts/DINPro-Bold\ copy\ 2.otf') format('opentype');
}

@font-face {
  font-family: LeagueGothic;
  src: url('./../fonts/LeagueGothic-Regular.otf') format('opentype');
}

//Variables
$paddingY: 10vh;
$rate: 0.5922;
$cardScaleX: 0.98;
$cardScaleY: 0.92;

html {
  background: url(./../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: $rate * 100vh - $paddingY;
  max-height: 100%;
  margin: 0 auto;
  padding: $paddingY/2 0;
}

.env-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.env-background {
  background: url(./../images/envelope-background.png) no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 100vh - $paddingY;
  z-index: 0;
}

.env-card {
  background: url(./../images/card-background.png) no-repeat;
  background-size: 100% 100%;
  height: (100vh - $paddingY) * $cardScaleY;
  width: $cardScaleX * 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;

  & .env-card-back {
    display: none;
  }
}

.env-body {
  background: url(./../images/envelope.png) no-repeat;
  background-size: 100% 100%;
  height: 100vh - $paddingY;
  width: 100%;
  top: 0;
  left: -1px;
  position: absolute;
  z-index: 1005;
}

.env-cover {
  background: url(./../images/cover-out.png) center right no-repeat;
  background-size: auto 100%;
  height: 100vh - $paddingY;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1010;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &.opened {
    background: url(./../images/cover-in.png) center right no-repeat;
    background-size: auto 100%;
  }
}

.env-card-front {
  padding: 0 (100vh - $paddingY) * 0.05;
}

.env-card-front-text {
  text-align: center;
  font-family: LeagueGothic, sans-serif;
  font-size: (100vh - $paddingY) * 0.17;
  line-height: 1.2;
  margin-block-start: (100vh - $paddingY) * 0.05;
  margin-block-end: (100vh - $paddingY) * 0.05;
  letter-spacing: -(100vh - $paddingY) * 0.0065;

  & > span {
    display: block;

    // Holiday style
    &:nth-child(1) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      span:nth-child(1) {
        color: #f27baa;
        letter-spacing: -(100vh - $paddingY) * 0.03;
      }

      span:nth-child(2) {
        color: rgba($color: #2c2971, $alpha: 0.15);
      }

      span:nth-child(3) {
        color: rgba($color: #ef4035, $alpha: 0.38);
        letter-spacing: -(100vh - $paddingY) * 0.005;
      }

      span:nth-child(4) {
        color: rgba($color: #faed24, $alpha: 0.44);
        letter-spacing: (100vh - $paddingY) * 0.007;
      }

      span:nth-child(5) {
        color: #3db54a;
        letter-spacing: -(100vh - $paddingY) * 0.038;
      }

      span:nth-child(6) {
        color: rgba($color: #272361, $alpha: 0.54);
        letter-spacing: -(100vh - $paddingY) * 0.02;
      }

      span:nth-child(7) {
        color: rgba($color: #ef4035, $alpha: 0.72);
      }
    }

    // Cheer style
    &:nth-child(2) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      & > span:nth-child(1) {
        color: #00a99d;
        letter-spacing: (100vh - $paddingY) * 0.002;
      }

      & > span:nth-child(2) {
        color: rgba($color: #f79226, $alpha: 0.29);
        letter-spacing: -(100vh - $paddingY) * 0.015;
      }

      & > span:nth-child(3) {
        color: #ef4035;
        letter-spacing: -(100vh - $paddingY) * 0.01;
      }

      & > span:nth-child(4) {
        color: rgba($color: #ef4035, $alpha: 0.08);
        letter-spacing: -(100vh - $paddingY) * 0.03;
      }

      & > span:nth-child(5) {
        color: rgba($color: #d9e026, $alpha: 0.56);
      }
    }

    // For the style
    &:nth-child(3) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      & > span:nth-child(1) {
        color: rgba($color: #ef4035, $alpha: 0.22);
      }

      & > span:nth-child(2) {
        color: rgba($color: #d52027, $alpha: 0.44);
        letter-spacing: -(100vh - $paddingY) * 0.022;
      }

      & > span:nth-child(3) {
        color: rgba($color: #079247, $alpha: 0.7);
        letter-spacing: -(100vh - $paddingY) * 0.01;
      }

      & > span:nth-child(5) {
        color: rgba($color: #faed24, $alpha: 0.19);
        letter-spacing: -(100vh - $paddingY) * 0.015;
      }

      & > span:nth-child(6) {
        color: rgba($color: #2c2971, $alpha: 0.76);
        letter-spacing: -(100vh - $paddingY) * 0.027;
      }

      & > span:nth-child(7) {
        color: rgba($color: #d52027, $alpha: 0.44);
      }
    }

    // New Year style
    &:nth-child(4) {
      letter-spacing: -(100vh - $paddingY) * 0.015;

      & > span:nth-child(1) {
        color: rgba($color: #2c2971, $alpha: 0.44);
        letter-spacing: -(100vh - $paddingY) * 0.005;
      }

      & > span:nth-child(2) {
        color: rgba($color: #ef4035, $alpha: 0.06);
        letter-spacing: -(100vh - $paddingY) * 0.024;
      }

      & > span:nth-child(3) {
        color: rgba($color: #f27baa, $alpha: 0.77);
        letter-spacing: -(100vh - $paddingY) * 0.01;
      }

      & > span:nth-child(5) {
        color: #00a99d;
        letter-spacing: -(100vh - $paddingY) * 0.02;
      }

      & > span:nth-child(6) {
        color: rgba($color: #ef4035, $alpha: 0.44);
        letter-spacing: -(100vh - $paddingY) * 0.017;
      }

      & > span:nth-child(7) {
        color: rgba($color: #faed24, $alpha: 0.56);
      }

      & > span:nth-child(8) {
        color: rgba($color: #046937, $alpha: 0.77);
      }
    }
  }
}

.env-card-front-character {
  display: inline-block;
  position: relative;
}

.env-card-front-character-background {
  position: absolute;
  margin: auto;
  width: (100vh - $paddingY) * 0.1;
  height: (100vh - $paddingY) * 0.1;
  top: -5%;
  bottom: 0;
  left: -25%;
  right: 0;
  opacity: 0;
  content: '';
}

// Snow Animation

.drop {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
}

.animate {
  animation: falling 5.5s infinite ease-in;
}

// Lamp Animation
@keyframes falling {
  0% {
    top: -10px;
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}
.line {
  text-align: center;
}
.light ul {
  display: block;
  white-space: nowrap;
}
li {
  position: relative;
  margin: 0 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  top: 35px;
  background: #fff;
}
li:before {
  content: '';
  position: absolute;
  background: #222;
  width: 10px;
  height: 9px;
  border-radius: 3px;
  top: -4px;
  left: 1px;
}
li:after {
  content: '';
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 19px;
  border-bottom: solid #222 2px;
  border-radius: 30%;
}

.red {
  background-color: #fb4545;
  animation: lightningRed 1s infinite;
}

.green {
  background-color: #24d024;
  animation: lightningGreen 0.8s infinite;
}

.yellow {
  background-color: #fff952;
  animation: lightningYellow 0.9s infinite;
}

.blue {
  background-color: #0a53de;
  animation: lightningBlue 1.1s infinite;
}

.pink {
  background-color: #f53896;
  animation: lightningPink 1.2s infinite;
}

@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
}
@keyframes lightningGreen {
  0% {
    box-shadow: 5px 0 35px 10px #24d024;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #24d024;
  }
}
@keyframes lightningYellow {
  0% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
}
@keyframes lightningBlue {
  0% {
    box-shadow: 5px 0 35px 10px #0a53de;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #0a53de;
  }
}
@keyframes lightningPink {
  0% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
}
@media (max-width: 1024px) {
  .line {
    padding: 0;
  }

  li {
    margin: 0 15px 20px 15px;
  }
}
