.hidden-el {
  visibility: hidden;
  opacity: 0;
}

.gradient-text {
  color: #b39a5d;
}
.gradient-text span {
	transform:rotate(-90deg;);
}
.backgroundcliptext .gradient-text {
  background: linear-gradient(45deg, #b39a5d 0%, #c9bb9d 25%, #b39a5d 50%, #c9bb9d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.img-responsive {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.section--cards {
  height: 100vh;
  text-align: center;
  transform: rotate(85deg);
}

.b__cards-item {
  position: relative;
  z-index: 0;
}
.b__cards-item .card-pack {
  position: relative;
}

.b__cards-flipper {
  position: absolute;
  top: 15%;
  left: 15%;
  bottom: 20%;
  right: 15%;
  cursor: pointer;
  -webkit-transform: translateZ(1000px);
          transform: translateZ(1000px);
}
@media screen and (max-width: 950px) {
  .b__cards-flipper {
    left: 10%;
    right: 10%;
  }
}

.b__cards-flipper--inner {
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transform: rotateX(0deg) scale(1);
          transform: rotateX(0deg) scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  height: 100%;
  -webkit-animation: flip-card_up 0.5s linear forwards;
          animation: flip-card_up 0.5s linear forwards;
}
.b__cards-flipper--inner:hover {
  -webkit-animation: flip-card 0.5s linear forwards;
          animation: flip-card 0.5s linear forwards;
}
.is-ie .b__cards-flipper--inner:hover .b__cards-back {
  z-index: 1;
}

.b__cards-front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.is-ie .b__cards-front {
  top: -5px;
}

.b__cards-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.is-ie .b__cards-back {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transition: all 0.1s linear 0.2s;
  transition: all 0.1s linear 0.2s;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  z-index: 0;
}

.cards-heading {
  margin-top: 0;
  font-size: 42px;
  color: #d6b479;
  font-family: "helioslightcregular", Arial;
  font-weight: lighter;
  color: #b39a5d;
}
.backgroundcliptext .cards-heading {
  background: linear-gradient(45deg, #b39a5d 0%, #c9bb9d 25%, #b39a5d 50%, #c9bb9d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (max-width: 1024px) {
  .cards-heading {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  .cards-heading {
    font-size: 34px;
  }
}

.cards-description {
  font-size: 19px;
}
@media screen and (max-width: 1024px) {
  .cards-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .cards-description {
    font-size: 14px;
  }
}

.b__constructor-item {
  text-align: center;
}

.b__constructor-item--inner {
  display: inline-block;
  position: relative;
  max-width: 800px;
}

.input-heading,
.input-disclaimer {
  width: 75%;
  background: transparent;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  position: absolute;
  left: -7.5%;
  border-bottom: 2px solid #7c6833;
  color: #edc063;
  outline: 0;
  margin:-73px;

}
.input-heading::-webkit-input-placeholder,
.input-disclaimer::-webkit-input-placeholder {
  color: #474747 !important;
}
.input-heading::-moz-placeholder,
.input-disclaimer::-moz-placeholder {
  color: #474747 !important;
}
.input-heading:-ms-input-placeholder,
.input-disclaimer:-ms-input-placeholder {
  color: #474747 !important;
}
.input-heading:-moz-placeholder,
.input-disclaimer:-moz-placeholder {
  color: #474747 !important;
}
@media screen and (max-width: 500px) {
  .input-heading,
  .input-disclaimer {
    border-bottom: 1px solid rgba(124, 104, 51, 0.5) !important;

  }
}

.input-heading {
 position: 0 0;
  font-size: 20px;
  transform: rotate(-89deg);
}
.input-disclaimer {
    transform: rotate(-80deg);
}
@media screen and (max-width: 1024px) {
  .input-heading {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .input-heading {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .input-heading {
    font-size: 6px;
  }
}

.input-disclaimer {
  font-size: 14px;
  line-height: 1.6;
}
@media screen and (max-width: 1024px) {
  .input-disclaimer {
    font-size: 12px;
    transform: rotate(-80deg);s

  }
}
@media screen and (max-width: 500px) {
  .input-disclaimer {
    font-size: 10px;
        transform: rotate(-80deg);

  }
}
@media screen and (max-width: 400px) {
  .input-disclaimer {
    font-size: 5px;
        transform: rotate(-80deg);

  }
}

.b__card-animated {
  height: 60vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  padding-top: 7%;
  position: relative;
  margin-left:-70px;
}
@media screen and (max-width: 768px) {
  .b__card-animated {
    height: 100%;
    padding-top: 25%;

  }
}
.b__card-animated .input-heading,
.b__card-animated .input-disclaimer {
  border-bottom: none;
  text-align: left;
  left: -7.9%;
}
.b__card-animated .input-heading {
  font-size: 14px;
  top: 39%;
  margin-top:-134px;
}
@media screen and (max-width: 768px) {
  .b__card-animated .input-heading {
    font-size: 12px;
  }
}
.b__card-animated .input-disclaimer {
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .b__card-animated .input-disclaimer {
    font-size: 10px;
  }
}

.env-wrapper {
  position: relative;
  display: inline-block;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate(-500%, -250%) scale(0.7);
          transform: translate(-500%, -250%) scale(0.7);
  -webkit-animation: env-wrapper 1.5s linear 0.5s forwards;
          animation: env-wrapper 1.5s linear 0.5s forwards;
}
.env-wrapper img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .env-wrapper {
    width:-30%;
  }
}

@-webkit-keyframes env-wrapper {
  0% {
    -webkit-transform: translate(-0%, -0%) scale(0.7);
            transform: translate(-0%, -0%) scale(0.7);
  }
  50% {
    -webkit-transform: translate(-0%, -0%) scale(0.8);
            transform: translate(-0%, -0%) scale(0.8);
  }
  99% {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
  }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1.80);
  }
}

@keyframes env-wrapper {
  0% {
    -webkit-transform: translate(-0%, -0%) scale(0.7);
            transform: translate(-0%, -0%) scale(0.7);
  }
  50% {
    -webkit-transform: translate(-0%, -0%) scale(0.8);
            transform: translate(-0%, -0%) scale(0.8);
  }
  99% {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1.12);
  }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1.10);
            transform: translate(0%, 0%) scale(1.10);
  }
}
.env-btn {
  position: absolute;
  top: 60%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(211, 211, 211, 0.6);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  opacity: 0;
  visibility: 0;
  -webkit-animation: show-btn 0.5s linear 2s forwards;
          animation: show-btn 0.5s linear 2s forwards;
          display:none;
}
.env-btn:hover {
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}
.env-btn:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  background: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes show-btn {
  0% {
    opacity: 0;
    visibility: 0;
  }
  99% {
    opacity: 1;
    visibility: 1;
  }
  100% {
    opacity: 1;
    visibility: 1;
  }
}

@keyframes show-btn {
  0% {
    opacity: 0;
    visibility: 0;
  }
  99% {
    opacity: 1;
    visibility: 1;
  }
  100% {
    opacity: 1;
    visibility: 1;
  }
}
.env-top {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.is-opened .env-top {
  -webkit-animation: open-env 1s linear 0.5s forwards;
          animation: open-env 1s linear 0.5s forwards;
}
.is-ie .is-opened .env-top .env-top--backside {
  z-index: 2;
}

.env-top--frontside {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  z-index: 1;
}

.env-top--backside {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: 0;
  z-index: 1;
}
.is-ie .env-top--backside {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  z-index: 0;
  -webkit-transition: all 0.1s linear 0.8s;
  transition: all 0.1s linear 0.8s;
}

@-webkit-keyframes open-env {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  99% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    z-index: 0;
  }
}

@keyframes open-env {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  99% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    z-index: 0;
  }
}
.env-card {
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}
.is-opened .env-card {
  -webkit-animation: insert-card 1s linear 1.5s forwards;
          animation: insert-card 1s linear 1.5s forwards;
}
.env-card img {
  max-width: auto;
}
@media screen and (max-width: 1000px) {
  .env-card {
    left: 8px;
    right: 8px;
  }
}

.env-card--inner {
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: rotateX(0deg) scale(1) translateZ(1px);
          transform: rotateX(0deg) scale(1) translateZ(1px);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-animation: flip-card_up 0.5s linear forwards;
          animation: flip-card_up 0.5s linear forwards;
}
.env-card--inner.is-flipped {
  -webkit-animation: flip-card 0.5s linear forwards;
          animation: flip-card 0.5s linear forwards;
}
.is-ie .env-card--inner.is-flipped .env-card--backside {
  z-index: 2;
}

@-webkit-keyframes flip-card_up {
  0% {
    -webkit-transform: rotateX(180deg) scale(1);
            transform: rotateX(180deg) scale(1);
  }
  25% {
    -webkit-transform: rotateX(180deg) scale(0.9);
            transform: rotateX(180deg) scale(0.9);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.8);
            transform: rotateX(90deg) scale(0.8);
  }
  99% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
}

@keyframes flip-card_up {
  0% {
    -webkit-transform: rotateX(180deg) scale(1);
            transform: rotateX(180deg) scale(1);
  }
  25% {
    -webkit-transform: rotateX(180deg) scale(0.9);
            transform: rotateX(180deg) scale(0.9);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.8);
            transform: rotateX(90deg) scale(0.8);
  }
  99% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
}
@-webkit-keyframes flip-card {
  0% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
  25% {
    -webkit-transform: rotateX(0deg) scale(0.8);
            transform: rotateX(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.9);
            transform: rotateX(90deg) scale(0.9);
  }
  99% {
    -webkit-transform: rotateX(180deg) scale(1);
            transform: rotateX(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotateX(180deg) scale(1);
            transform: rotateX(180deg) scale(1);
  }
}
@keyframes flip-card {
  0% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
  25% {
    -webkit-transform: rotateX(0deg) scale(0.8);
            transform: rotateX(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.9);
            transform: rotateX(90deg) scale(0.9);
  }
  99% {
    -webkit-transform: rotateX(180deg) scale(1);
            transform: rotateX(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotateX(180deg) scale(1);
            transform: rotateX(180deg) scale(1);
  }
}
.env-card--frontside {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  width:20;
  z-index: 1;
}
.env-card--frontside img {
	transform:rotate(-90deg);
	position:relative;
	z-index: 1;
}


.env-card--backside {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: 0;
  z-index: 1;
}
.is-ie .env-card--backside {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  z-index: 0;
  -webkit-transition: all 0.1s linear 0.4s;
  transition: all 0.1s linear 0.4s;
}

@-webkit-keyframes insert-card {
  0% {
    -webkit-transform: translateY(0%) translateZ(0px);
            transform: translateY(0%) translateZ(0px);
    z-index: 0;
  }
  50% {
    -webkit-transform: translateY(-100%) translateZ(0px);
            transform: translateY(-100%) translateZ(0px);
    z-index: 0;
  }
  51% {
    z-index: 1;
  }
  99% {
    -webkit-transform: translateY(-1%) translateZ(1px);
            transform: translateY(-1%) translateZ(1px);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateY(-1%) translateZ(1px);
            transform: translateY(-1%) translateZ(1px);
    z-index: 1;
  }
}

@keyframes insert-card {
  0% {
    -webkit-transform: translateY(0%) translateZ(0px);
            transform: translateY(0%) translateZ(0px);
    z-index: 0;
  }
  50% {
    -webkit-transform: translateY(-100%) translateZ(0px);
            transform: translateY(-100%) translateZ(0px);
    z-index: 0;
  }
  51% {
    z-index: 1;
  }
  99% {
    -webkit-transform: translateY(-1%) translateZ(1px);
            transform: translateY(-1%) translateZ(1px);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateY(-1%) translateZ(1px);
            transform: translateY(-1%) translateZ(1px);
    z-index: 1;
  }
}
.env-front {
  position: relative;
  z-index: 1;
}
.env-bb {
	  background-color:#990000;
}

.flip-btn {
  top: 15px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%) rotateX(180deg) translateZ(1px);
          transform: translateX(-50%) rotateX(180deg) translateZ(1px);
  opacity: 0;
  -webkit-transition: all 0.5s linear 2.5s;
  transition: all 0.5s linear 2.5s;
  cursor: pointer;
  z-index: 5;
}

.flip-btn span {
  font-size: 19px;
  position:absolute;
}
@media screen and (max-width: 1024px) {
  .flip-btn img {
    width:51%;
  margin-top: 10px;
  margin-bottom:-135px;
}
}
.flip-btn img {
  margin-top: 10px;
  margin-bottom:-157px;
}
@media screen and (max-width: 768px) {
  .flip-btn.mobile-visible {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    margin-bottom: 15px;
  }
  .flip-btn.mobile-visible img {
    margin: 0;
  }
  .flip-btn.mobile-visible span {
    padding-right: 15px;
  }
}
.flip-btn:hover {
  text-decoration: underline;
}
.is-opened .flip-btn {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

.mobile-visible {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .mobile-visible {
    display: block;
  }
}
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom:154px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  transform: rotate(90deg);
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}



/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    height: 100%;
  }
}


@import url("https://fonts.googleapis.com/css?family=Cookie");
body {
  background-color: #000000;
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 80px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.drop {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #FFF;
}

.animate {
  animation: falling 5.5s infinite ease-in;
}

@keyframes falling {
  0% {
    top: -10px;
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}
.line {
  text-align: center;
}
.light ul {
	display:block;
	  white-space:nowrap;

}
li {
  position: relative;
  margin: 0 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  top: 35px;
  background: #fff;
}
li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9px;
  border-radius: 3px;
  top: -4px;
  left: 1px;
}
li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 19px;
  border-bottom: solid #222 2px;
  border-radius: 30%;
}

.red {
  background-color: #fb4545;
  animation: lightningRed 1s infinite;
}

.green {
  background-color: #24D024;
  animation: lightningGreen 0.8s infinite;
}

.yellow {
  background-color: #fff952;
  animation: lightningYellow 0.9s infinite;
}

.blue {
  background-color: #0A53DE;
  animation: lightningBlue 1.1s infinite;
}

.pink {
  background-color: #f53896;
  animation: lightningPink 1.2s infinite;
}

@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
}
@keyframes lightningGreen {
  0% {
    box-shadow: 5px 0 35px 10px #24D024;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #24D024;
  }
}
@keyframes lightningYellow {
  0% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
}
@keyframes lightningBlue {
  0% {
    box-shadow: 5px 0 35px 10px #0A53DE;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #0A53DE;
  }
}
@keyframes lightningPink {
  0% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
}
@media (max-width: 1024px) {
  .line {
    padding: 0;
  }

  li {
    margin: 0 15px 20px 15px;
  }
}
